# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Исключить папку сборки Maven/Gradle
/target

# Исключить папку настроек IntelliJ IDEA
/.idea

# Исключить файлы проекта IDEA
*.iml

# Исключить временные файлы IDE
*.ipr
*.iws
